/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

body
  background-color: #FFFFFF
  padding: 2px

.center
  text-align: center
  width: 1000px
  height: 100px
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto

  h1
    margin-center: bottom-10px

.center-followup
  text-align: center
  width: 1000px
  height: 400px
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto

.radio-wrapper
  width: 200px
  height: auto
  margin: auto

img
  height: auto
  width: auto
  max-height: 150px
  max-width: 100%

.img-thumbnail
  max-width: none

.col-md-2
  width: 18.666667%

.container
  padding-top: 0px

  .row
    margin-left: 5%
    margin-right: -5%
    margin-top: 0px

.col-md-2
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0px
  padding-top: 0px

.thumbnail
  padding: 0px
  margin-bottom: 0px
  border-radius: 0px


.image-checkbox
  display: none 

.row-finder-buttons
  margin: auto
  display: flex
  width: 224px

.btn-xs
  height: 22px

#timer
  width: 20px
  height: 20px
  display: inline-block

